footer{
    background-image: linear-gradient(rgba(50,168,219, .0), rgba(50,168,219,.2));
    padding: 60px 0;
    text-align: center;
    border-top: #33A8D880;
    
}

footer img{
    width: 300px;
    margin: 0;
    overflow-clip-margin: content-box;
}

footer p{
    font-family: "Raleway", sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

footer a{
    color: #31a8dd;
    text-decoration: none;
    font-weight: 700;
}