@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.banner{
   background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: 600px;
   padding-top: 60px;
   border-bottom: 1px solid #33A8D880;
}

.banner image{
    opacity: .1;
    /* background-color: linear-gradient(#1472B7, #31a8dd); */
}

.banner-content{
    color: #FFF;
    width: 600px;
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.banner .logo{
    background-color: rgba(0, 0, 0, .2);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    padding: 16px;
    margin-bottom: 16px;
}

header h1{
   font-size: 40px;
   font-weight: 900;
   line-height: 100%;
   font-family: Raleway;

   background: -webkit-linear-gradient(#33A8DB, #1472B7);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

header p{
    font-family: Raleway;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    color: #FFF;
    margin: 18px auto;

}

header button{
    padding: 16px 32px;
    color: #31A8DD;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
    margin:0;
}